<form (submit)="onSumit()" #roomForm="ngForm">
  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="Habitacion"
      name="room"
      required
      [(ngModel)]="roomData.roomNumber"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="Huesped"
      name="guestName"
      required
      [(ngModel)]="roomData.huespedId"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="Fecha de ingreso"
      name="checkinDate"
      required
      [(ngModel)]="roomData.fechaIngreso"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="Fecha de salida"
      name="checkoutDate"
      required
      [(ngModel)]="roomData.fechaSalida"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="Precio"
      name="price"
      required
      [(ngModel)]="roomData.precio"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="Status"
      name="status"
      required
      [(ngModel)]="roomData.status"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      type="text"
      matInput
      placeholder="Tiempo"
      name="time"
      required
      [(ngModel)]="roomData.tiempo"
    />
  </mat-form-field>
  <ng-container *ngIf="isEditMode; else elseTemplate">
    <button mat-button color="primary">Update</button> &nbsp;
    <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    &nbsp;
  </ng-container>
  &nbsp;
  <ng-template #elseTemplate>
    <button mat-button color="primary">Add</button>&nbsp;
  </ng-template>
</form>
